@use "../../styles/mixins" as m;

.es-characterList {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.es-characterList__character {
    height: 180px;
    gap: 15px;
    // border: solid 2px black;
    // box-shadow: 2px 2px 0px 0px black;
    color: inherit;
    text-decoration: none;
    // overflow: hidden;
    position: relative;

    z-index: 1;

    * {

        transition: all 0.5s cubic-bezier(0,1,0,1);
    }

}

.es-characterList__characterWrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    background: 0% 100%/220% 100% no-repeat linear-gradient(to left, var(--characterColor) 50%, white 50%);
    border-radius: 5px;
    border: solid 2px black;
    // box-shadow: 2px 2px 0px 0px black;
    z-index: 2;

    @include m.card(0);

    img {
        // width: 2rem;
        // height: auto;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        z-index: 1;
        pointer-events: none;
    }

    .es-characterList__info {
        pointer-events: none;
        position: absolute;
        top: 0px;
        right: 0%;
        padding: 5px 5px 3px 3px;
        font-weight: 900;
        z-index: 2;
        color: white;
        background: black;
        width: 1.5em;
        // min-height: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        transform: translate(100%, 0%);
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }

    &:hover {
        width: calc(100% + 0.5em);
        left: -0.25em;
        z-index: 3;
        background-position: 100% 100%;
        // box-shadow: 4px 4px 0px 0px black;
        @include m.card(1);

        img {
            transform: translateX(calc(-50% - 0.5em));
        }

        .es-characterList__info {
            transform: translate(0%, 0%);
        }
    }
}

.es-input__unitSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0px;
    justify-content: space-between;

    button.MuiButtonBase-root.MuiToggleButton-root {
        flex-grow: 1;
        border: solid 2px black;
        border-radius: 0px;
        font: inherit;
        font-size: 0.9rem;
        text-transform: none;
        padding: 0.5em 0.7em;
        line-height: 1;
        font-weight: 800;

        &.Mui-selected {
            background: black;
            color: white;
        }
    }
}