@import "../../styles/variables";

.es-header {
    margin: 10px;
}

.MuiBreadcrumbs-ol {
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
}

.MuiBreadcrumbs-li {
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.5;
    transition: opacity 0.2s ease;

    a {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        opacity: 0.8;
    }

    &:last-child {
        opacity: 1;
        font-weight: 800;
    }

    &:last-child::after {
        content: ".";
    }

}

.MuiBreadcrumbs-separator {
    opacity: 0.5;
}