@use "mixins" as m;
// @import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "@fontsource/plus-jakarta-sans/latin.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import "variables";

* {
    box-sizing: border-box;
}

:root {
    font: 16px "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {

    //   scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 50%) transparent;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar-thumb {
        background-color: hsl(0, 0%, 50%);
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

}

html {
    // background: black;
}

body {
    background: black;
    overflow: overlay;
    display: flow-root;
}

.es-site__background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: calc(100vh + 100px);
    top: 0px;
    left: 0px;
}

.es-content__wrapper { 
    max-width: 900px;
    margin: auto;
    display: flow-root;
}

.es-content {
    // max-width: 900px;
    margin: 10px 0px 0px $sidebar-width;
    padding: 0px;

    a {
        color: auto;
    }
}

.es-mainContent {
    // min-height: calc(100vh);
    background: white;
    border-radius: 10px;
    min-height: max(350px, 60vh);
    display: flow-root;
    position: relative;
    // overflow: hidden;

    @include m.card(3);

}

.content-header {
    display: flex;
    align-items: flex-end;
    height: 6rem;
    padding: 0px 20px 10px;
    background-color: #f3761d;
    color: white;
    user-select: none;
    border-radius: 10px 10px 0px 0px;

    h1 {
        margin: 0;
    }
}

.content-text {
    padding: 10px 20px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}