@import "variables";

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.4;
  font-family: "InterVariable","Inter","Noto Sans JP", "Metropolis", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, "IBM Plex Sans Thai Looped", Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

body {  
  background: var(--ritsu-900);
  color: var(--ritsu-100);
  display: flow-root;
}
