@use "mixins" as m;

@keyframes splash {
    0% {
        border-radius: 20px;
        transform: translateY(50px) scale(0.7);
    }

    33% {
        border-radius: 20px;
        transform: translateY(0px) scale(0.7);
    }
    
    66% {
        border-radius: 10px;
        transform: translateY(0%) scale(0.7);
    }

    100% {
        border-radius: 5px;
        transform: translateY(0%) scale(1);
    }
}
@keyframes splash2 {
    0% {
        border-radius: 20px;
        transform: scale(2) translate(-50px, -50px);
    }

    33% {
        border-radius: 10px;
        transform: scale(2) translate(-50px, 0px);
    }

    66% {
        border-radius: 10px;
        transform: scale(2) translate(0px, 0px);
    }

    100% {
        border-radius: 5px;
        transform: scale(1.1);
    }
}
@keyframes splash3 {
    0% {
        transform: translate(0px, -200%);
    }

    100% {
        transform: translate(0px, 0%);
    }
}

.es-splash {
    display: flow-root;
    color: white;
    user-select: none;
    position: relative;
    width: 100%;
    height: 70vh;
    max-height: 550px;
    z-index: 10;
    border-radius: 5px;
    // position: absolute;
    overflow: hidden;
    // top: 20px;
    // left: -20px;
    // margin-bottom: 40px;
    animation: splash 1000ms 0ms both cubic-bezier(0.13,1,0.37,0.99);

    @include m.card(3);

}

.es-splash__movie {
    position: absolute;
    background: #f37012;
    color: rgb(255, 255, 255);
    z-index: 10;
    top: 15px;
    right: 15px;
    padding: 7.5px 15px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.9em;
    font-weight: 800;
    text-decoration: none;
    border-radius: 9999px;
    transition: transform 0.2s ease;
    animation: splash3 200ms 1500ms backwards cubic-bezier(0.13,1,0.37,0.99);

    @include m.card(2);

    svg {
        font-size: 1.2em;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
    }
}

.es-splash__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, transparent 40%, hsla(0, 0%, 0%, 0.7) 100%),
        70%/cover no-repeat url("../public/splash.jpg"),
        linear-gradient(#2a2c8e, #2a2c8e);
    animation: splash2 1000ms 0ms both cubic-bezier(0.13,1,0.37,0.99);
}

.es-splash__left {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@keyframes slideup {
    from {transform: translateY(100%);}

    to {transform: translateY(0%);}
}

.es-splash__text {
    font-size: clamp(30px, 6vw, 60px);
    font-weight: 800;
    line-height: 0.5;
    filter: drop-shadow(0px 0px 10px hsla(0, 0%, 0%, 1));

    
}

.es-splash__text--highlight {
    // background: black;
    display: inline-block;
    overflow: hidden;
    line-height: 1.15;
}

.es-splash__text--slideup-0 {
    display: inline-block;
    animation: slideup 1000ms 500ms both cubic-bezier(1, 0, 0, 1);
}

.es-splash__text--slideup-200 {
    display: inline-block;
    animation: slideup 1000ms 700ms both cubic-bezier(1, 0, 0, 1);
}

.es-splash__text--slideup-400 {
    display: inline-block;
    animation: slideup 1000ms 900ms both cubic-bezier(1, 0, 0, 1);
}

.es-splash__text--2 {
    font-style: italic;
    letter-spacing: -0.1em;
}

.es-splash__subtext {
    font-size: 0.7em;
}

.es-splash__tagline {
    font-size: clamp(16px, 0.35em, 60px);
    margin-top: 0.15em;
    font-weight: 500;
    line-height: 1.15;
}

@media only screen and (max-width: 600px) {
    .es-splash__left {
        padding: 50px 20px 50px 20px;
    }

}
