.wrapper {
    display: block;
    width: 300px;
    height: 100px;
}

.alignImage {
    margin: 0;
    position: absolute;
    left: -10%;
    top: 0;
}

.CHIAKI {
    left: -30%;
    top: -90%;
}

.NAZUNYAN {
    top: -50%;
}