.wrapper {
    display: block;
    width: 300px;
    height: 100px;
    background-color: transparent;
}

.alignImage {
    margin: 0;
    position: absolute;
    left: -15%;
    top: 0;
}

.horoscope {
    position: absolute;
    top: 2%;
    right: 0;
    z-index: 2;
}